:root {
    --bg1: #1e1d74;
    --bg2: #14134e;
    --bg3: #11103f;
    --bg4: #0c0827;
    --ttl1: #00c3ff;
    --txt1: #ff00ff;
    --txt2: #ff00ff;
    --sel1: #14134e;
    --seltxt1: #00ccff;
    --altFG: #00d9ff;
    --altBG1: #29279b;
    --altBG2: #2927a3;
}