:root {
    --bg1: #252526;
    --bg2: #1e1e1e;
    --bg3: #141414;
    --bg4: #000;
    --ttl1: #006E60;
    --txt1: #009480;
    --sel1: #0b6e61;
    --seltxt1: black;
    --altFG: #141414;
    --altBG1: #0b6e61;
    --altBG2: #348b80;
}