:root {
    --bg1: #006E60;
    --bg2: #009480;
    --bg3: #00c4aa;
    --bg4: #00ffdd;
    --ttl1: #fbc193;
    --txt1: #fbc193;
    --txt2: black;
    --sel1: #009480;
    --seltxt1: black;
    --altFG: #fbc193;
    --altBG1: #006E60;
    --altBG2: #297c75;
}