:root {
    --mh : 0
}

* {
    text-align: center;
}

html {
    min-height: 100vh;
    background-color: var(--bg1);
}

body, body div {
    width: 100vw;
    margin: 0;
    padding: 0;
    /*overflow-x: hidden;*/
}

.bg_sqr {
    position: absolute;
    height: calc(var(--mh) * 0.86);
    width: 100vw;
}

.bg_tri {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: calc(var(--mh) * 0.15) min(50vw,15em);
}

.bg_clb {
    position: absolute;
    z-index: 0;
    left: max(calc(50vw - 15em), 0px);
    width: min(100vw,30em);
    height: calc(var(--mh) * 0.15);
}

.bg_clb:hover {
    cursor:pointer;
}

.fg_sect {
    height: calc(var(--mh) * 0.69);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: min(100vw, 40em);
    overflow-y:scroll;
    /*-ms-overflow-style: none;
    scrollbar-width: none;*/
}

/*.fg_sect::-webkit-scrollbar, .hide {
    display: none;
}*/

#bg_last {
    height: calc(var(--mh) * 1.01);
}

h1, h2 {
    font-family: "Yu Gothic Ui semibold";
    font-size: 4em;
}

p, label {
    font-family: "Yu Gothic Ui light";
    font-weight: normal;
    font-size: min(2em, 8vw);
}

@media screen and (max-width: 450px) {
    .waffle {display: none;}
}