.topbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width:100%;
    padding: 0px;
    background-color: #333;
}
.topbar div {
    float: left;
    width: 25%;
    height: 1.5em;
    font-size: 3em;
    text-align: center;
    overflow: hidden;
}
.topbar div:hover {
    color: darkblue;
}
.topbar a {
    color: #AAA;
    text-decoration: none;
}
#selpage {
    border-radius: 0.25em 0.25em 0em 0em;
    border-style: solid;
    border-color: #222;
    width:24%;
    background-color: #222;
}
body {
    text-color: #FFF;
    background-color: #222;
}
h1 {
    font-size: 4em;
    margin-top: 1.5em;
}
p {
    font-size: 2em;
}
