:root {
    --bg1: ;
    --navBg: ;
    --navSelTxt: ;
    --navTxt: ;
    --navSel: ;
    --mainTxt: ;
    --otherTxt: ;
    --toolBg: ;
    --toolOutl: ;
    --toolSelOutl: ;
    --toolSelBg: ;
    --rCol0: ;
    --rCol1: ;
    --rCol2: ;
    --rCol3: ;
    --rCol4: ;
    --hover: ;
}