:root {
    --bg1: #252526;
    --navBg: #1e1e1e;
    --navSelTxt:#CFE0AD;
    --navTxt: #00AC85;
    --navSel: #252526;
    --mainTxt: #4cbbe0;
    --otherTxt: #14f795;
    --toolBg: #1e1e1e;
    --toolOutl: #1a1a1a;
    --toolSelOutl: #12103b;
    --toolSelBg: #0a0922;
    --rCol0: #132C19;
    --rCol1: #154B41;
    --rCol2: #31522D;
    --rCol3: green;
    --rCol4: #3F5A44;
    --hover: #fff;
}