:root {
    --bg1: #FBFAEE;
    --navBg: #9DC392;
    --navSelTxt:#CFE0AD;
    --navTxt: #006E60;
    --navSel: #298A6D;
    --mainTxt: black;
    --toolBg: #CFE0AD;
    --toolOutl: #9DC392;
    --toolSelOutl: #fabf3f;
    --toolSelBg: #f7c75f;
    --rCol0: red;
    --rCol1: cyan;
    --rCol2: yellow;
    --rCol3: green;
    --rCol4: pink;
    --hover: #fff;
}