* {
    font-family: "Trebuchet MS", sans-serif;
}

nav {
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;
    float: left;
    width: 100%;}
nav table {
    float: left;
    width: 100%;
    border-collapse: collapse;}
nav table tr th {
    font-weight: normal;
    font-size:1.5em;
    width: 20%;
    padding: 0.25em;}
nav table tr th.seltab {
    border: 0px;
    border-top-left-radius:0.5em;
    border-top-right-radius:0.5em;
    border-collapse: collapse;}
nav div {
    float: left;
    width: 100%;
    height: 0.5em;}
main div {
    width: 100%;
    float: left;
    display: none;
    text-align: center;}
main div.seltab {
    display: block !important;}
#toolBtns {
    list-style-type: none;
    padding: 1em;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;}
#toolBtns li{ 
    outline: transparent solid 5px;
    border-radius: 2em;}
#toolBtns li:hover, nav table tr th:hover {
    cursor: pointer;}
#pg1 div, .t0_hide {
    display: none;}
#pg1 div.seltool {
    display: block !important;
}
#t0_div form select, #t0_div form input {
    background-color: transparent;
}
#t0_div form {
    padding-bottom: 1em;
}
#t0_div table {
    border-collapse: collapse;
}
#t0_table tr td:first-child, #t0_table tr:first-child td {
    padding: 0.5em;
    border: 2px solid;
    border-left-width: 0px;
    cursor: pointer;
}
#t0_table tr td:hover {
    border: 2px solid;
}
.t0_selTime td {
    background-color: #43d1f57e;
}

.t0_selTime td:first-child {
    background-color: #29c8f0af;
}